<form class="resform" action="{{ path('CarambolaBundle_rental_reserve', { 'car_id' : rental.car.id } ) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Reserve the car">
    </p>
</form>