{% extends 'Carambola::layout.html.twig' %}

{% block title %}Reserve the car{% endblock%}

{% block body %}
    <h1>Reserve the car "{{ rental.car.model }}"</h1>
    {% include 'CarambolaBundle:Rental:form.html.twig' with { 'form': form } %}
{% endblock %}